<app-alert-component [display]="displayAlert" [type]="alertType" [message]="alertMessage" (closeEvent)="closeAlert()">
</app-alert-component>

<!-- <div *ngIf="junier">
    <app-tables-component [tableName]="tableTitleJunierAndSenier" [headers]="HeadersJunierAndSenier"
        [items]="junierClaimsList" [showApproveBtn]=true [showRejectBtn]=true (approve)="status($event)"
        (refer)="referBack($event)">
    </app-tables-component>
</div>

<div *ngIf="!junier">
    <app-tables-component [tableName]="tableTitleJunierAndSenier" [headers]="HeadersJunierAndSenier"
        [items]="senierClaimsList" [showApproveBtn]=true [showRejectBtn]=true (approve)="status($event)"
        (refer)="referBack($event)">
    </app-tables-component>
</div> -->

<div class="row border border-info m-4">
    <h1><span class="text-success">Approve</span>/<span class="text-danger">Reject</span> - Level 1</h1>
    <table class="table table-bordered table-grey">
        <thead>
            <tr>
                <th scope="col">Claim ID </th>
                <th scope="col">Policy Id</th>
                <th scope="col">Policy Amount</th>
                <th scope="col">Medical Diagnosis </th>
                <th scope="col">Summery </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pol of junierClaimsList">
                <th scope="row"> {{pol.claimId}}</th>
                <td>{{pol.policyId}}</td>
                <td>{{pol.claimAmount}}</td>
                <td>{{pol.diagnosis}}</td>
                <td>{{pol.dischargeSummary}}</td>
                <td>
                    <button class="btn btn-success" style="margin-right: 2px" (click)="status1(pol, $event)">
                        Approve</button>
                    <button class="btn btn-primary" style="margin-right: 2px" (click)="referBack1(pol, $event)">
                        Refer back</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- senier appover -->

<div class="row border border-info m-4 marginBottom">
    <h1><span class="text-success">Approve</span>/<span class="text-danger">Reject</span> - Final level</h1>
    <table class="table table-bordered table-grey">
        <thead>
            <tr>
                <th scope="col">Claim ID</th>
                <th scope="col">Policy Id</th>
                <th scope="col">Policy Amount</th>
                <th scope="col">Medical Diagnosis </th>
                <th scope="col">Summery </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pol of senierClaimsList">
                <th scope="row"> {{pol.claimId}}</th>
                <td>{{pol.policyId}}</td>
                <td>{{pol.claimAmount}}</td>
                <td>{{pol.diagnosis}}</td>
                <td>{{pol.dischargeSummary}}</td>
                <td>
                    <button class="btn btn-success" style="margin-right: 2px" (click)="status2(pol, $event)">
                        Approve</button>
                    <button class="btn btn-primary" style="margin-right: 2px" (click)="referBack2(pol)">
                        Refer back</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>