.form {
    margin: auto auto;
    padding: 0px;
    /* position: relative; */
    /* left: 200px; */
    background: #929b9c;
    /* width: 49%; */
    /* margin-top: 30px; */
    margin-bottom: 200px;
}